<div class="edit-form">

  <form action="/burgers/<%= @burger.id %>" method="post">

    <label>
      Burger Name:
      <input type="text" name="name" value="<%= @burger.name %>">
    </label>

    <label>
      Price:
      <input type="number" name="price" value="<%= @burger.price %>">
    </label>

    <label>
    Calories:
    <input type="number" name="calories" value="<%= @burger.calories %>">
    </label>

    <label>
      Where can you buy this tasty morsel?
      <select name="vendor_id">
        <% for vendor in Vendor.all %>
        <option value="<%= vendor.id %>"><%= vendor.name %></option>
        <% end %>
      </select>
    </label>
    <input type="submit" value="Update">
  </form>
</div>